/* style.css */

@media only screen and (min-width: 992px and max-width: 1199px) {
  #consonantsTable tr td:first-child{
    display: none !important;
}
.container{
  width: 95%;
}
}

@media only screen and (max-width: 991px) {
  .container{
    width: 100%;
    font-size: 3vw;
  }
  #consonantsTable{
    display: flex;
  }
  #consonantsTable td:empty{
    display: none;
  }
  #consonantsTable .grey{
    display: none;
  }
  #consonantsTable tr {
    display: inline-flex;
    flex-wrap: wrap;
  }
  #consonantsTable tr:nth-child(2n){
    background: #D6EAC2;
  }
  #consonantsTable td {
    display: inline-flex;
    height: 5vw;
    width: 5vw;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
  }
  .hideLowRes{
    display: none !important;
}
#consonantsTable tr td:first-child{
  width: fit-content;
  font-size: 2vw;
  text-transform:uppercase;
  color: #4A5954;
}
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Noto Sans', sans-serif;
  line-height: 1;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, .desc-title, #logo-container{
  font-family: 'Noto Serif', serif;
}

a{
  color: #99CB67;
}
a:hover{
  color: #A3D076
}

a.btn:hover{
  color: #0A100D;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

table{
  user-select: none;
}

table a{
  color: #0A100D;
  background:#FFF;
  cursor: pointer;
  padding-left:1vw;
  padding-right:1vw;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
}

table a:hover {
  background: #E0EFD1;
  color: #38433F;
}

table a.hvg1{
  background: #99CB67;
}
table a.hvg1:hover{
  background: #ADD585;
}
table a.hvg2{
  background: #F13030;
  opacity: 0.1;
}
table a.hvg2:hover{
  background: #F46666;
}


#title-bar{
  background: #333;
  height: 30px;
  width: 100%;
  position: fixed;
  z-index: 2147483649;
  flex-shrink: 0;
}

#title-bar a {
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
}

#title-bar-title{
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: normal;
  font-family: 'Noto Sans', sans-serif;
  font-size: 13px;
  height: 30px;
  margin-top: 0px;
}

#title-bar-icon{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0px;
  top: 0px;
  height: 30px;
  width: 30px;
}
#title-bar-icon img{
  width: 20px;
  height: 20px;
}

#title-bar-leftmenu{
  position: absolute;
  top: 0px;
  left: 30px;
  user-select: none;
  display: inline-flex;
}

#title-bar-leftmenu ul {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  position: absolute;
}

#title-bar-leftmenu > li{
  padding: 0px 30px 0px 30px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  background: #333;
  position: relative;
}

#title-bar-leftmenu a,
#title-bar-leftmenu ul.drop-menu li:hover > a{
  color: #FFF;
}
#title-bar-leftmenu > li:hover > a, 
#title-bar-leftmenu ul.drop-menu li:hover > a{
  color: #aeaeae;
}

#title-bar-leftmenu li:hover,
#title-bar-leftmenu li > ul.drop-menu:hover ~ #title-bar-leftmenu {
  background: #444;
}

#title-bar-leftmenu ul.drop-menu li {
  display: none;
  list-style: none;
  justify-content: flex-start;
  background: #333;
  width: 250px;
  height: 30px;
  padding: 10px;
  cursor: pointer;
}

#title-bar-leftmenu li.clickedOn > ul.drop-menu li {
  display: flex;
  background: #444;
  padding-left: 15px;
  flex: 1;
  border-bottom: 1px solid #555;
}

#title-bar-leftmenu li > ul.drop-menu li:hover{
  background: #555;
  color: #FFF;
}

#title-bar-leftmenu li > ul.drop-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  left: 0;
  top: 100%;
}

#title-bar-rightmenu{
  position: absolute;
  top: 0px;
  right: 0px;
  user-select: none;
  display: inline-flex;
}

#title-bar-leftmenu > li, 
#title-bar-rightmenu > li{
  height: 30px;
  width: 40px;
  color: #FFF;
  display: inline-flex;
  align-items:center;
}

#title-bar-rightmenu > li .material-icons{
  margin: 0 auto;
  font-size: 18px;
}

#title-bar-rightmenu > li#maxResBtn .material-icons{
  font-size: 16px;
}

#title-bar-rightmenu > li:hover{
  background: #777;
  color: #FFF;
}

#title-bar-rightmenu > li#closeBtn:hover{
  background: #b63131;
}
@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fade-out {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
#status-bar{
  background-color: rgba(0, 0, 0, .50);  
  backdrop-filter: blur(25px);
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 300px;
  height: 50px;
  user-select: none;
  z-index: 90;
  border-top-left-radius: 15px;
  opacity: 0;
}

#status-bar ul{
  width: 100%;
  height:100%;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

#status-bar ul li{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  color: #FFF;
  font-weight: 600;
}

.shortCutText{
  position: absolute;
  right: 0px;
  margin-right: 15px;
}

#app-content{
  position: relative;
  margin-top: 35px; /*  30px + 5px */
  margin-bottom: 300px;
  flex-grow: 1;
  overflow-x: auto;
}

.drag{
  -webkit-app-region: drag;
}

.no-drag{
  -webkit-app-region: no-drag;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

p.desc, .modal p{
  padding: 8px 12px;
  line-height: 1.5;
}

.desc-title{
  font-weight: 700;
}

.enlarge{
  font-size: 26px;
}

#unicodeInput{
  width: 50px;
}

#inputArea{
  
  color: #AEAEAE;
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 200px;
  bottom: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 10px;
}

#inputArea textarea{
  width: 100%;
  height: 150px;
  padding: 5px;
  line-height: 1.5;
  font-size: 32px;
  outline: none;
  border: none;
  white-space:normal;
  resize: none;
  box-sizing: border-box;
  overflow:hidden;
}

#inputUpper{
  z-index: 51;
  position: fixed;
  background: #000;
  width: 100%;
  bottom: 200px;
  padding: 10px;
  height: 100px;
  color: #FFF;
}

#buttonRow{
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.material-tooltip { 
  background-color: rgba(0, 0, 0, .50);  
  backdrop-filter: blur(25px);
  color: #99CB67
}

.modal, .modal-footer {
  background-color: rgba(255, 255, 255, .15) !important; 
  backdrop-filter: blur(25px);
}

/* 
    SCROLLBAR & SELECTION
*/

  *::-webkit-scrollbar {
    width: 15px;
  }
  *::-webkit-scrollbar-track {
    background: #FFF;  
  }
  *::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 15px;
    border: 3px solid #ffffff;
  }

  ::selection {
    color: #99CB67;
    background: #0A100D;
  }

  /* 
      CUSTOM COLORS
  */

  .tea-green{ background-color: #C0DFA1 !important; }
  .tea-green-text{ color: #C0DFA1 !important; }
  .tea-green.lighten-1{ background-color: #CCE5B3 !important; }
  .tea-green.lighten-2{ background-color: #D6EAC2 !important; }
  .tea-green.lighten-3{ background-color: #E0EFD1 !important; }
  .tea-green.lighten-4{ background-color: #EBF5E1 !important; }
  .tea-green.darken-1{ background-color: #B8DB95 !important; }
  .tea-green.darken-2{ background-color: #ADD585 !important; }
  .tea-green.darken-3{ background-color: #A3D076 !important; }
  .tea-green.darken-4{ background-color: #99CB67 !important; }

  .grey-green{ background: #5C6F68 !important; }
  .grey-green-text{ color: #5C6F68 !important; }
  .grey-green.lighten-1{ background-color: #667A73 !important; }
  .grey-green.lighten-2{ background-color: #6F857D !important; }
  .grey-green.lighten-3{ background-color: #7A9088 !important; }
  .grey-green.lighten-4{ background-color: #859991 !important; }
  .grey-green.darken-1{ background-color: #54645E !important; }
  .grey-green.darken-2{ background-color: #4A5954 !important; }
  .grey-green.darken-3{ background-color: #414E49 !important; }
  .grey-green.darken-4{ background-color: #38433F !important; }

  .rich-black{ background-color: #0A100D !important }
  .rich-black-text { color: #0A100D }
  .lavender-white{ background-color: #DDDBF1 !important}
  .lavender-white-text{ color: #DDDBF1 !important}

  
.btn.disabled, .disabled.btn-large, .disabled.btn-small,
.btn-floating.disabled,
.btn-large.disabled,
.btn-small.disabled,
.btn-flat.disabled,
.btn:disabled,
.btn-large:disabled,
.btn-small:disabled,
.btn-floating:disabled,
.btn-large:disabled,
.btn-small:disabled,
.btn-flat:disabled,
.btn[disabled],
.btn-large[disabled],
.btn-small[disabled],
.btn-floating[disabled],
.btn-large[disabled],
.btn-small[disabled],
.btn-flat[disabled] {
  pointer-events: none;
  background-color: #EBF5E1 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #9F9F9F !important;
  cursor: default;
}
