/* style.css */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Noto Sans', sans-serif;
  line-height: 1;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, .desc-title, #logo-container1{
  font-family: 'Noto Serif', serif;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

table a {
  font-size: 18px;
  cursor: pointer;
  background: #666;
  color: #fff;
  border-radius: 5px;
  padding: 3px 8px 3px 8px;
}
table a:hover {
  background: #aeaeae;
  color: #000;
}

table a.hvg1{
  background: #008000;
}
table a.hvg1:hover{
  background: #80ff00;
}
table a.hvg2{
  background: #FF0000;
  opacity: 0.1;
}
table a.hvg2:hover{
  background: #FF5500;
}

table#consonantsTable td{
  border-right: 1px solid #ccc;
}

#title-bar{
  background: #333;
  height: 30px;
  width: 100%;
  position: fixed;
  z-index: 2147483649;
  flex-shrink: 0;
}

#title-bar a {
  text-decoration: none;
  color: #FF5500;
  font-family: 'Noto Sans', sans-serif;
}

#title-bar-title{
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: normal;
  font-family: 'Noto Sans', sans-serif;
  font-size: 13px;
  height: 30px;
  margin-top: 0px;
}

#title-bar-icon{
  position: absolute;
  left: 0px;
  top: 0px;
  height: 30px;
  width: 30px;
  background: #80ff00; /* TODO: placeholder, add icon or remove */
}

#title-bar-leftmenu{
  position: absolute;
  top: 0px;
  left: 40px;
  user-select: none;
  display: inline-flex;
}

#title-bar-leftmenu ul {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  position: absolute;
}

#title-bar-leftmenu > li{
  padding: 0px 30px 0px 30px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  background: #333;
  position: relative;
}

#title-bar-leftmenu li:hover{
  background: #444;
  color: #FF5500;
}

#title-bar-leftmenu ul.drop-menu li {
  display: none;
  list-style: none;
  justify-content: flex-start;
  background: #333;
  width: 250px;
  height: 30px;
  padding: 10px;
  cursor: pointer;
}

#title-bar-leftmenu li.clickedOn > ul.drop-menu li {
  display: flex;
  background: #444;
  padding-left: 15px;
  flex: 1;
  border-bottom: 1px solid #555;
}

#title-bar-leftmenu li > ul.drop-menu li:hover{
  background: #555;
  color: #FFF;
}

#title-bar-leftmenu li > ul.drop-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  left: 0;
  top: 100%;
}

#title-bar-rightmenu{
  position: absolute;
  top: 0px;
  right: 0px;
  user-select: none;
  display: inline-flex;
}

#title-bar-leftmenu > li, 
#title-bar-rightmenu > li{
  height: 30px;
  width: 40px;
  color: #666;
  display: inline-flex;
  align-items:center;
}

#title-bar-rightmenu > li .material-icons{
  margin: 0 auto;
  font-size: 18px;
}

#title-bar-rightmenu > li#maxResBtn .material-icons{
  font-size: 16px;
}

#title-bar-rightmenu > li:hover{
  background: #777;
  color: #FFF;
}

#title-bar-rightmenu > li#closeBtn:hover{
  background: #b63131;
}

.shortCutText{
  color: #888;
  position: absolute;
  right: 0px;
  margin-right: 15px;
}

#app-content{
  position: relative;
  margin-top: 30px;
  margin-bottom: 300px;
  flex-grow: 1;
  overflow-x: auto;
}

.drag{
  -webkit-app-region: drag;
}

.no-drag{
  -webkit-app-region: no-drag;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

p.desc, .modal p{
  padding: 8px 12px;
  line-height: 1.5;
}

.desc-title{
  font-weight: 700;
}

.enlarge{
  font-size: 32px;
}

#unicodeInput{
  width: 50px;
}

#inputArea{
  background: #444;
  color: #AEAEAE;
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 200px;
  bottom: 0px;
  /* background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(15px); */
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 10px;
}

#inputArea textarea{
  width: 100%;
  height: 150px;
  color: #AEAEAE;
  padding: 5px;
  line-height: 1.5;
  font-size: 32px;
  outline: none;
  border: none;
  white-space:normal;
  resize: none;
  box-sizing: border-box;
  overflow:hidden;
}

#inputUpper{
  z-index: 51;
  position: fixed;
  background: #000;
  width: 100%;
  bottom: 200px;
  padding: 10px;
  height: 100px;
  color: #FFF;
}

#buttonRow{
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
}

  *::-webkit-scrollbar {
    width: 15px;
  }
  *::-webkit-scrollbar-track {
    background: #FFF;  
  }
  *::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 15px;
    border: 3px solid #ffffff;
  }